body {
  font-size: 1.6rem;
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  margin-top: 6em;
  margin-bottom: 3em;
}

#table-of-contents header {
    color: #3F909C;
}

.title {
  font-size: 47px;
  color: #000000;
  text-align: center;
}

.author {
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.center {
  text-align: center;
}

.date {
  font-size: 20px;
  color: #000000;
  text-align: center;
}


h1,h2,h3,h4,h5 {
  text-align: left;
}
